<!DOCTYPE html>
<html lang="en">
<head>
<title> </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="../app.css" type="text/css">
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width">
</head>
		  
		  
<body>
    
    <div class="imhold"><img class="logiIm" id="theLogo" alt="logo" src="/wings.png"></div>
	<div class="header">
	</br></br>
	  <div class="navhold">
	  <nav>
	      <ul>
      <div class="topnav"><li><a href="/">Home</a></li>
      <li><a href="/menus">Menus</a></li>
      <li><a href="/contacts">New Dishes</a></li>
      <li><a href="/addcontact">Add Menus</a></li>
      <li><a href="/contactus">Contact Us</a></li>
      <li><a href="/upload">Upload</a></li>
            </ul>
    </nav>
      </div>
    </div>
