 <% include ../partials/header %>
  
  
  
  <p class="query"> If you have any queries about the website, go ahead and submit it down below along with your email.
 <form class="item">
	<p class="px">Email:</p><input class="email" type="email" required /> <br />
	<p class="px">Text</p><input class="box" type="text" required /> <br/>
	<input type="submit" value="Submit Now!">
</form>
    
    
    
    
    </p> 
    
    
    
    
    
    
    
<% include ../partials/footer %>