  <% include ../partials/header %>


		   
		   <div class="intro">
		   	<div class="normal">
		   		</br></br></br>
		   <center></center><h1>Just Food.</h1> </br></center>
		   </div>
		   
		   <center><p id="big">Hi and welcome to Just Food.

A website that sells foods and aims to help local people within the areas to earn that little bit of money.  If you have dishes that you think other may enjoy then head over to the add menus page and upload the name, picture, details
and price.  Don't forget to inclue pictures and your phone number so people can get in contact with you about ordering your foods.  If you are a customer who is interested in our products, head
 on over to our menus page. Where you will find what we currently have on the menus or head on over to check out some of others people food.</p></center>
		   
	        
              			

			</div>		   
		   
			   

		 
		 
		 
		 
	
		  
		  
  <% include ../partials/footer %>
		 