  <% include ../partials/header %>
	
	
	
	

	
	<center><hr><h2><b> Chicken Strippers.</b><br></h2>
	<img src="/resized Chicken-Strippers.jpg" alt="classic T">
	<p><b>PRODUCT DETAILS.</b><br>
	<center><button id="show" class="button" type="button" >Show</button>
			<button id="hide" class="w3-btn w3-theme"  >Hide</button></center>
	<p id="str">Battered chicken tenders, golden fried and served with crispy seasoned fries. Served with BBQ sauce or Honey Mustard dressing for dipping.<br>
	Price: €6.99<br></p>
	</p>

	

	<hr><h2><b>Spicy Chicken Wings</b></h2><br>
	<img src="/resized cwings.jpg" alt="overhead hoodie">
	<p><b>PRODUCT DETAILS.</b><br>
	<center><button id="show2" class="button" type="button" >Show</button>
			<button id="hide2" class="w3-btn w3-theme"  >Hide</button></center>
	<p id="wi">Six spicy hot wings, with regular fries and drink. A great snack to fill a gap.<br>
	Price: €4.99.</p></p><br>
	
	
	<hr><h2><b> Chicken Drumsticks.</b></h2><br>
	<img src="/resized drumstick.jpg" alt="sweatshirt">
	<p><b>PRODUCT DETAILS.</b><br>
	<center><button id="show3" class="button" type="button" >Show</button>
			<button id="hide3" class="w3-btn w3-theme"  >Hide</button></center>
	<p id="dr">Three pieces of everyone's favourite Original Recipe chicken, with regular fries and a drink. Simple and delicious.<br>
	Price: €8.99.</p></p><hr></center>
	
	
	</div>
	</section>

	
	

	
	
	
	
	</body>	
	
	<script>
		$(document).ready(function(){
    $("#hide").click(function(){
        $("#str").hide(3);
    });
	});
	
	$(document).ready(function(){
    $("#show").click(function(){
        $("#str").show(3);
    });
	});
	
			$(document).ready(function(){
    $("#hide2").click(function(){
        $("#wi").hide(3);
    });
	});
	
	$(document).ready(function(){
    $("#show2").click(function(){
        $("#wi").show(3);
    });
	});
	
				$(document).ready(function(){
    $("#hide3").click(function(){
        $("#dr").hide(3);
    });
	});
	
	$(document).ready(function(){
    $("#show3").click(function(){
        $("#dr").show(3);
    });
	});
		
		
		
		
		
	</script>

</html>



  <% include ../partials/footer %>