body {
    background-color: #555;
    background-repeat:no-repeat;
    background-size:100% 100%;
  text-align: center;
    min-height:900px; /* we will remove this later */
}

.header {
    background: #55d6aa;
    width: 100%;
    margin: 0 auto;
}

.header:after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 10px;
    padding-bottom:30px;
    position:relative;
}

nav a {
    color:#444;
    text-decoration:none;
    text-transform:uppercase;
    padding: 14px 16px;
    font-size: 30px;
    text-align: center;
}

.logiIm {
    width: 50%;
    float: left;
    padding:10px;
}  

.imhold{
    width: 268px;
    height: 96px;
    float: left;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

nav a:before {
    content:'';
    display:block;
    height: 5px;
    width:0%;
    background-color:#444;
    top:0;
    position:absolute;
    transition:all ease-in-out 250ms;
}

nav a:hover:before {
    width:100%;
}

nav a:hover{
    color:#000;
}


/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.title {
  color: black;
  font-size:90px;
  text-align: center;
  float: none;
  text-shadow: 3px 2px white;
}

.normal  h1{
  color: black;
  text-align: center;
  font-size:40px;
  text-shadow: 3px 2px white;
  margin-top: auto;
  margin-bottom: auto;
}

 p{
    color: white;
}

h2{
    color: white;
}

#big {
    color: white;
    font-size:50px;
}

#ajc {
    color: white;
    font-size: 40px;
}

.item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 0;
 
}

.box {
    height:200px;
    font-size:14pt
}

.email {
    font-size:14pt;
}

.px {
    font-size: 20pt;
    color: black;
}